<form [formGroup]="form" (ngSubmit)="loginHandler()" class="flex flex-col gap-y-5">
  <div class="flex flex-col gap-y-1">
    <label class="text-neutral-400 text-xs">Nazwa użytkownika</label>
    <input formControlName="username" type="text" placeholder="Wpisz nazwę użytkownika" class="bg-neutral-900 px-4 py-2 focus:outline-0 rounded-md" />
  </div>

  <div class="flex flex-col gap-y-1">
    <label class="text-neutral-400 text-xs">Hasło</label>
    <input formControlName="password" type="password" placeholder="Wpisz hasło" class="bg-neutral-900 px-4 py-2 focus:outline-0 rounded-md" />
  </div>

  <div class="mt-2">
    <button [disabled]="form.invalid || loading()" [ngClass]="{'opacity-40': form.invalid || loading()}" type="submit" class="px-8 py-2 bg-red-600 rounded-2xl">Zaloguj</button>
  </div>

  <p class="text-sm text-neutral-400">
    Nie masz konta? <a class="text-blue-400" routerLink="../register">Zarejestruj się</a>
  </p>
</form>
